body {
  background-color: black;
  text-align: center;
}
button {
  margin: auto;
  background-color: #459ef6;
}
#cornerimg {
  max-width: 15%;
  max-height: 15%;
}
header {
  font-family: "Gotham Bold", Sans-serif;
  display: flex;
  text-align: left;
}
a {
  color: #ffffff;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  text-align: right;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

nav li {
  display: inline;
  margin-right: 15px;
}
h1,
h2,
h3,
div {
  color: aqua;
}
