body {
  background-color: black;
  text-align: center;
  font-family: "Bebas Neue", cursive;
}
button {
  color: #ffffff;
  margin: auto;
  background-color: #459ef6;
  font-family: "Bebas Neue", cursive;
  font-size: 200%;
  border: 1px solid black;
  border-radius: 11%;
}
.buy {

  margin-top: 1%;
  margin-left: 5%;
  margin-bottom: 1%;
  
}

#cornerimg {
  max-width: 15%;
  max-height: 15%;
}
header {
  display: flex;
  text-align: left;
}
a {
  color: #ffffff;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  text-align: right;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  margin-right: 30px;
}
nav ul li {
  background: black;
  position: relative;
  display: inline-block;
}
nav ul li a {
  display:block;
  padding: 0 15px;
  color:#ffffff;
  line-height: 60px;
}
nav ul li a:hover{
  color:#459ef6;
}
nav ul ul {
  position: absolute;
  top: 60px;
  display: none;
}
nav ul li:hover > ul {
  display: block;
}
nav ul ul li {
  width:150px;
  float:none;
  display: list-item;
  position: relative;

}
nav li {
  font-size: 150%;
  display: inline;
  margin-right: 15px;
}

h2 {
  display: inline;
  text-align: center;
  margin: 10%;
  color: #ffffff;
  font-size: 300%;
}
.contact {
  margin-top: 3%;
  margin-bottom: 1%;
  display: flex;
  color: black;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 11%;
}
